# Build and binaries
build/
bin/
lib/
out/
.vs/
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.exp

# Compiled shaders and temp build artifacts
*.spv
/offset_test*
/range_test*
/comp.spv
/frag.spv
/vert.spv

# IDEs
.idea/
.vscode/

# User specific and temp files
*.user
*.suo
*.temp
*.tmp
.DS_Store

# Agent / Tooling (If applicable)
.gemini/
